<!DOCTYPE html>
<html lang="es" class="no-js">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, user-scalable=no, user-scalable=no, initial-scale=1.0">
		<title>PICHON.SPACE | Sobre mi | Desarrollo y Diseño Web</title>
		<link rel="icon" href="img/icono.jpg" alt="logo-pichonspace.com">
		<meta name="description" content="Una página web personal enfocada al desarrollo y diseño web en Tlaxcala y puebla." />
		<meta name="keywords" content="desarrollo, web, diseño, desing, portafolio,  efectos, animacion, css, javascript, php, tlaxcala, puebla" />
		<meta name="author" content="Paul Pichon Fabian" />

		<link href="https://fonts.googleapis.com/css?family=Roboto:400,500|Roboto+Mono" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="css/normalize.css" />
		<link rel="stylesheet" type="text/css" href="css/demo.css" />
		<link rel="stylesheet" type="text/css" href="css/pieces.css" />

	</head>
	<body>

		<main>
			<div class="pieces" style="background-image: url(img/img_inicio/normal.jpg)" data-img-alt="url(img/img_inicio/alt.jpg)" data-img-code="url(img_inicio/img/code.jpg)"></div>
			<div class="overlay overlay--hidden"></div>
			<div class="content">
				<div class="content__inner">
					<div class="content__top">
						<!--PARTIALS  -->
            			{{> titulo }}
						<div class="controls">

						</div>
					</div>

					<div class="menu menu--code" style="color: white;">
							<h1 class="title__inner mode mode--design">About Me / Sobre mi</h1>
							<p style="line-height: 1.5;">Hola, mi nombre es Paúl Pichón, Soy Desarrollador Web Full Stack (Desarrollador FrontEnd/BackEnd). A lo largo de mi vida me ha llamado la atención el increíble mundo del desarollo web, pues para lo que muchas personas es una simple página web sobre un negocio, una empresa, un evento, entre muchas otras cosas, para mi es algo más que eso, es todo un mundo lleno de tecnología, lenguajes de programación, entre muchas otras cosas.</p>
							<p style="line-height: 1.5;">He trabajo en muchísimos proyectos tanto en FrontEnd como en el BackEnd, he trabajado en empresas como CREARE, E3CREATIVA, y en EASYCODE, pero eso no me limita a trabajar como Freelance donde he tenido la oportunidad de trabajar con varios clientes, desde el diseño de la página web hasta la creación de sistemas web, como lo son tiendas online, CMS (sistema de gestión de contenidos), Blogs, entre otros.</p>
							<p style="line-height: 1.5;">Ofrezco soluciones integrales a empresas y profesionales de cara a crear su imagen digital y a conectar con sus usuarios, ya sea mediante grandes o pequeños presupuestos, en cualquier parte del país.</p>
					</div>
					<div class="content__bottom">
						<div class="switch">
						</div>
						<div class="link-wrap">
							<a class="contact-link mode mode--design" data-switch data-glitch href="/">Regresar</a>
						</div>
					</div>

				</div><!-- /content__inner-->
			</div><!-- /content -->
			<div class="loading"></div><!-- Este div es necesario para que funcione las animaciones -->
		</main>

		<script src="js/imagesloaded.pkgd.min.js"></script>
		<script src="js/anime.min.js"></script>
		<script src="js/main.js"></script>
	</body>
</html>
